.singleTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border: 2px #64748b solid;
    margin: 3%;
    border-radius: 20px;
}

.showDetailsButton {
    margin-top: 10px;
    background-color: #1e293b;
    color:white;
}

.showDetailsButton:hover {
    background-color: #334155;
}