.projectDetails {
    display: flex;
    height: 100vh;
    text-align: center;
}

.projectName{
    text-align: center;
}

.singleTask{
    display: flex;
    padding-left: 2%;
    border: 1px gray solid;
    flex-direction: column;
    margin: 3%;
    border-radius: 20px;
}

