.projectDetails {
    display: flex;
    height: 100vh;
    text-align: center;
}

.projectName{
    text-align: center;
}

.singleTask{
    display: flex;
    padding-left: 2%;
    border: 1px firebrick solid;
    flex-direction: column;
    margin: 3%;
}
.saveButton {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
}
