body{
    color:white;
    background-color: #1e293b;
}
.taskData{
    position: absolute;
    left: 10%;
    font-size: 2em;
}

.taskDetailsBack{
    height: 6vh;
    width: 10vh;
    background-color: #1e293b;
    color:white;
    border:none;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    margin: 1em;
}

.taskDetailsBack:hover{
    background-color: #0f172a;
}
hr{
    border-color: #64748b;
}