body{
    color:white;
    background-color: black;
}
.taskData{
    position: absolute;
    left: 10%;
    font-size: 2em;
}

.taskDetailsBack{
    height: 6vh;
    width: 10vh;
    background-color: black;
    color:white;
    border:none;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    margin: 1em;
}

.taskDetailsBack:hover{
    background-color: rgb(48, 46, 46);
}

.topMenu { 
    grid-area: 1 / 1 / 2 / 6;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 4em;
    min-height: 17vh;
    display: flex;
    left:20%;
    align-items: center;
}

.logo{
    margin-left: 3rem;
}

hr{
    border-color: gray;
}