button{
  cursor: pointer;
}
.dashboard {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
}
.logo{
    margin-left: 3rem;
}
.main { 
    grid-area: 1 / 2 / 6 / 6;
    background-color: #1e293b;
    color:white;
    min-height: 100vh;
}