.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: 200px;
    grid-gap: 20px;
    color:white;
    padding: 20px;
    text-align: center;
}
  
.project-item {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px white solid;
}
  
.project-item:hover {
    background-color: #334155;
}

.user-image{
    height: 30px;
    width: 30px;
}

.user-images{
  padding-top: 40%;
}